@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Spotify Mix UI";
  src: local('Spotify Mix UI'),
    url('./assets/SpotifyMixUI-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Spotify Mix UI';
  user-select: none;
}

.green-dot {
  position: relative;
}

.green-dot:after {
  background-color: #1db954;
  color: #1db954;
  border-radius: 50%;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 4px;
  inline-size: 4px!important;
}

